:host {
  display: block;
}

.tablet-glass-wrapper{
  width: 100%;
  position: relative;
}

.lightness-selector {
  position: relative;
  width: 100%;
  border-radius: 100%;
  background: #000;
  &:before {
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }
}

paper-ripple {
  pointer-events: none;
}

.lightness {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}


