body {
  background: url(../images/bg.png) #fafafa;
  background-size: cover;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
}


.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

.help {
  background: rgba(255,255,255,0.8);
  padding: 10px;
}

.clearfix {}

.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}

.tablet-container {
	margin: 0 -15%;
	@extend .clearfix;
	box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
	background: #eee;
	max-width: 640px;
	padding: 0 30px 30px 30px;
	border-radius: 5px;
	border: 1px solid gray;
	margin: 50px auto;
  	paper-progress {
	  margin-bottom: 20px;
	}
}

tablet-glass {
	margin: 0 15%;
}

core-toolbar, [drawer] {
  background: rgba(255,255,255,0.8);
}
